%section#content
  .content-wrap
    .container.clearfix
      .heading-block.center.nobottomborder
        = image_tag "slogan.svg"
      .col_one_third.topmargin
      .col_one_third.topmargin
        .feature-box.fbox-center.fbox-light.fbox-plain
          .fbox-icon
            %a{:href => "#"}
              %i.icon-comments-alt
          %h3 Chatrooms
          %ul.nobottommargin
            - @chatrooms.each do |chatroom|
              %li{style: "list-style-type: none;"}
                = chatroom.name
                = join_or_leave_link(current_user, chatroom)
      .col_one_third.col_last.topmargin
        .feature-box.fbox-center.fbox-light.fbox-plain
          .fbox-icon
            = link_to new_chatroom_path do
              %i.icon-plus
          %h3 Start a New Chat
