%section#content
  .content-wrap
    .container.clearfix
      .panel.panel-default.nobottommargin
        .panel-body{style: "padding: 40px;"}
          = simple_form_for @chatroom, html: { class: "nobottommargin" } do |f|
            %h3 Create a New Chatroom
            .col_full
              = f.input :name, label: false,
                input_html: { class: "form-control", placeholder: "Name" }
            .col_full.nobottommargin
              = f.submit class: "button button-3d button-black nomargin"
