%section#content
  .container.clearfix
    .heading-block.center.nobottomborder.topmargin
      %h1= @chatroom.name

  .content-wrap
    .postcontent.nobottommargin.clearfix
      .messages.list-group[@chatroom]
        - @messages.each do |message|
          - if !@unread_messages && @chatroom_membership.last_read_at < message.created_at
            - @unread_messages = true
            .divider.divider-short.divider-center
              %i.icon-crop
          = render message


%footer#footer{style: "z-index: 100000"}
  = simple_form_for [@chatroom, @message] do |f|
    = f.input :body, input_html: { class: 'form-control nobottommargin' },
      label: false, as: :string,
      placeholder: 'Type & Hit Enter...', autofocus: true
