%section#content
  .container.clearfix
    .heading-block.center.nobottomborder.topmargin
      %h1= @chatroom.name

  .content-wrap
    .nobottommargin.clearfix
      #chatroom.messages.list-group{"data-chatroom-id" => @chatroom.id}
        - @messages.each do |message|
          - if !@unread_messages && @chatroom_membership.last_read_at < message.created_at
            - @unread_messages = true
            .divider.divider-short.divider-center
              %i.icon-crop
          = render partial: message, locals: { message_user: message.user }


%footer#footer{style: "z-index: 100000"}
  = simple_form_for [@chatroom, @message] do |f|
    = f.input :body, input_html: { class: 'form-control nobottommargin' },
      label: false, as: :string,
      placeholder: 'Type & Hit Enter...', autofocus: true

:javascript
  $(document).on("turbolinks:load", function() {
    new Chatrooms.Views.Chatroom
    window.scrollTo(0,document.body.scrollHeight);
  });
