#copyrights
  .container.clearfix
    .col_half
      Copyrights © 2014 All Rights Reserved by Canvas Inc.
      %br/
      .copyright-links
        %a{:href => "#"} Terms of Use
        \/
        %a{:href => "#"} Privacy Policy
    .col_half.col_last.tright
      .fright.clearfix
        %a.social-icon.si-small.si-borderless.si-facebook{:href => "#"}
          %i.icon-facebook
          %i.icon-facebook
        %a.social-icon.si-small.si-borderless.si-twitter{:href => "#"}
          %i.icon-twitter
          %i.icon-twitter
        %a.social-icon.si-small.si-borderless.si-gplus{:href => "#"}
          %i.icon-gplus
          %i.icon-gplus
        %a.social-icon.si-small.si-borderless.si-pinterest{:href => "#"}
          %i.icon-pinterest
          %i.icon-pinterest
        %a.social-icon.si-small.si-borderless.si-vimeo{:href => "#"}
          %i.icon-vimeo
          %i.icon-vimeo
        %a.social-icon.si-small.si-borderless.si-github{:href => "#"}
          %i.icon-github
          %i.icon-github
        %a.social-icon.si-small.si-borderless.si-yahoo{:href => "#"}
          %i.icon-yahoo
          %i.icon-yahoo
        %a.social-icon.si-small.si-borderless.si-linkedin{:href => "#"}
          %i.icon-linkedin
          %i.icon-linkedin
      .clear
      %i.icon-envelope2
      info@canvas.com
      %span.middot ·
      %i.icon-headphones
      +91-11-6541-6369
      %span.middot ·
      %i.icon-skype2
      CanvasOnSkype
