%header#header.full-header{"data-sticky-class" => "not-dark"}
  #header-wrap
    .container.clearfix
      #primary-menu-trigger
        %i.icon-reorder
      #logo
        -# %a.standard-logo{"data-dark-logo" => "images/logo-dark.png", :href => "index.html"}
        -#   %img{:alt => "Canvas Logo", :src => "images/logo.png"}/
        -# %a.retina-logo{"data-dark-logo" => "images/logo-dark@2x.png", :href => "index.html"}
        -#   %img{:alt => "Canvas Logo", :src => "images/logo@2x.png"}/
      %nav#primary-menu.dark
        %ul
          %li
            %a{:href => "index.html"}
              %div Home
        #side-panel-trigger.side-panel-trigger
          %a{:href => "#"}
            %i.icon-line-layout
