.body-overlay
#side-panel.dark
  #side-panel-trigger-close.side-panel-trigger
    = link_to "javascript:void(0)" do
      %i.icon-line-cross
  .side-panel-wrap
    .widget.clearfix
      %h4 Your Chatrooms
      %nav.nav-tree.nobottommargin
        %ul
          - if user_signed_in?
            - current_user.chatrooms.each do |chatroom|
              %li
                = link_to chatroom.name, "javascript:void(0)"
