.message {
    background: none repeat scroll 0 0 #383838;
    border-radius: 5px;
    box-shadow: none;
    margin: 10px 0px 5px 1em;
    padding: 13px;
    transition: all 0.3s ease-in-out;
}
.message .details {
  font-size: 12px;
  text-align: right;
  line-height: 1.4em;
  color: #ffffff;
}
.message p, .message a {
  font-size: 16px;
  line-height: 1.4em;
  color: #ffffff;
}
.message .username { 
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 7px;
  padding: 0;
  color: #ffffff;
}
