.message {
    border-radius: 15px;
    box-shadow: none;
    margin: 0px 1em 0px 1em;
    padding: 13px;
    transition: all 0.3s ease-in-out;
}
.someone_elses_message {
  background: none repeat scroll 0 0 #383838;
};
.your_message {
  background: none repeat scroll 0 0 #00CDCD;
};
.message .details {
  font-size: 12px;
  text-align: right;
  line-height: 1.4em;
  color: #ffffff;
}
.message .body {
  font-size: 16px;
  line-height: 1.4em;
  color: #ffffff;
}
.message a {}
.message .username { 
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 7px;
  padding: 0;
  color: #ffffff;
}
