%header#header.full-header{"data-sticky-class" => "not-dark"}
  #header-wrap
    .container.clearfix
      #primary-menu-trigger
        %i.icon-reorder
      #logo
        = link_to chatrooms_path, class: "retina-logo standard-logo" do
          = image_tag "logo.jpg"

      %nav#primary-menu.dark
        %ul
          %li
            - if user_signed_in?
              = link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              = link_to "Sign In", new_user_session_path
        #side-panel-trigger.side-panel-trigger
          %a{:href => "#"}
            %i.icon-line-layout
